* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.bg-nav1 {
  background: linear-gradient(
    to right,
    rgba(12, 7, 105, 0.521) 0%,
    rgb(6, 6, 117) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: aliceblue;
}
.bgcolor {
  background: linear-gradient(
    to right,
    rgba(64, 133, 203, 0.16) 0%,
    rgba(53, 126, 215, 0.122) 35%,
    rgba(0, 213, 255, 0.116) 100%
  );
  border-radius: 20px;
}
.about {
  background-image: url(/Img/6.jpg);
  background-size: cover;
  background-attachment: fixed;
  border-radius: 20px;
}
/* ul li {
  list-style-type: "✓ ";
} */
.card-1 {
  background: linear-gradient(
    to right,
    rgba(141, 211, 234, 0.822) 0%,
    rgba(53, 126, 215, 0.122) 35%,
    rgba(0, 213, 255, 0.492) 100%
  );
}
